In [1]:
import pandas as pd
df = pd.read_csv('weight-height - weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [2]:
df.Gender = df['Gender'].replace(['Male', 'Female'], [0,1])
df.head()

   Gender     Height      Weight
0       0  73.847017  241.893563
1       0  68.781904  162.310473
2       0  74.110105  212.740856
3       0  71.730978  220.042470
4       0  69.881796  206.349801

In [3]:
df.tail()

      Gender     Height      Weight
8550       1  60.483946  110.565497
8551       1  63.423372  129.921671
8552       1  65.584057  155.942671
8553       1  67.429971  151.678405
8554       1  60.921791  131.253738

In [5]:
X =df.drop(columns=['Gender'])  # Assuming 'Gender' is the target
y = df['Gender']
X

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
8550  60.483946  110.565497
8551  63.423372  129.921671
8552  65.584057  155.942671
8553  67.429971  151.678405
8554  60.921791  131.253738

[8555 rows x 2 columns]

In [6]:
y

0       0
1       0
2       0
3       0
4       0
       ..
8550    1
8551    1
8552    1
8553    1
8554    1
Name: Gender, Length: 8555, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier(n_neighbors=5)  # You can adjust the value of n_neighbors
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
y_pred = knn_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

In [13]:
print("Accuracy:", accuracy)

Accuracy: 0.9131281651733542