In [30]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import euclidean

In [51]:
df = pd.read_csv('knn - Sheet1.csv')
df

   age  Income(k)
0   21         60
1   20         55
2   22         60
3   22         61
4   23         65
5   21         62
6   25         65
7   30         70
8   31         68

In [52]:
X = 22

In [53]:
distances = []
for age in df['age']:
    distances.append(euclidean((X,), (age,)))


df['Distance'] = distances


df = df.sort_values(by='Distance')


k_nearest_neighbors = df.head(3)


predicted_income = k_nearest_neighbors['Income(k)'].mean()
print("Predicted Income:", predicted_income)

Predicted Income: 60.333333333333336

In [54]:

knn_results = pd.DataFrame({
    'age': k_nearest_neighbors['age'],
    'Income(k)': k_nearest_neighbors['Income(k)'],
    'Distance': k_nearest_neighbors['Distance']
})
print("knn_result:",knn_results)

knn_result:    age  Income(k)  Distance
2   22         60       0.0
3   22         61       0.0
0   21         60       1.0

In [55]:

with pd.ExcelWriter('knn_results.xlsx') as writer:
    knn_results.to_excel(writer, sheet_name='KNN Results', index=False)
    df.to_excel(writer, sheet_name='Dataset', index=False)